<label>Search</label>
<input type="text" [(ngModel)]="search"><button class="btn btn-primary" color="primary"
    (click)="refresh()">Search</button>
<button class="btn btn-primary" color="secondary" (click)="search='';this.selectedtags=[];refresh()">Reset</button>

<h4>Tags</h4>
<table>
    <tbody>
        <tr *ngFor="let tag of tags">
            <td><button (click)="selectedtags.push(tag);refresh()">{{tag}}</button></td>
        </tr>
    </tbody>
</table>
<h4>Selected</h4>
<table>
    <tbody>
        <tr *ngFor="let tag of selectedtags">
            <td><button (click)="removeTag(tag)">{{tag}}</button></td>
        </tr>
    </tbody>
</table>

<span *ngIf="!items">betöltés</span>
<div *ngIf="items">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>*</th>
                <th>Task</th>
                <th>Tags</th>
                <th>Priority</th>
                <th>Impact</th>
                <th>Length</th>
                <th>Power</th>
                <th>*</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of items">
                <td><a class="btn btn-primary" color="primary" routerLink="/addedit/{{element.id}}">Edit</a></td>
                <td> {{element.todotext}} </td>
                <td> {{element.tags}} </td>
                <td> {{element.impact}} </td>
                <td> {{element.priority}} </td>
                <td> {{element.length}} </td>
                <td> {{element.length/element.impact}}</td>
                <td><button class="btn btn-warning" (click)="delete(element.id)">Delete</button>
                    <app-delete-button></app-delete-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>