<section>
    <input type="text" matInput [(ngModel)]="search"><button mat-raised-button color="primary" (click)="refresh()">Search</button>
    <button mat-raised-button color="primary" (click)="search='';refresh()">Reset</button>
    <span *ngIf="!items">betöltés</span>
    <div *ngIf="items">
        <table mat-table [dataSource]="items" class="mat-elevation-z8">

            <ng-container matColumnDef="addedit">
                <th mat-header-cell *matHeaderCellDef>*</th>
                <td mat-cell *matCellDef="let element"><a mat-raised-button color="primary"
                        href="/addedit/{{element.id}}">Edit</a></td>
            </ng-container>

            <ng-container matColumnDef="todotext">
                <th mat-header-cell *matHeaderCellDef>Task</th>
                <td mat-cell *matCellDef="let element"> {{element.todotext}} </td>
            </ng-container>

            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef>Tags</th>
                <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
            </ng-container>

            <ng-container matColumnDef="impact">
                <th mat-header-cell *matHeaderCellDef>Impact</th>
                <td mat-cell *matCellDef="let element"> {{element.impact}} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef>Priority</th>
                <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
            </ng-container>

            <ng-container matColumnDef="plannedlength">
                <th mat-header-cell *matHeaderCellDef>Length</th>
                <td mat-cell *matCellDef="let element"> {{element.plannedlength}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>*</th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn"
                        (click)="delete(element.id)">Delete</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>