<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label>Search</label>
            <input type="text" [(ngModel)]="searchparam.text"><button class="btn btn-primary"
                (click)="refresh()">Search</button>
            <button class="btn btn-secondary" (click)="resetSearch()">Reset</button>
            <button class="btn btn-outline-secondary" (click)="showfilter=!showfilter">Filter</button>
            <div *ngIf="showfilter">
                <label class="px-2">Starred</label><input type="checkbox" [(ngModel)]="searchparam.starredonly"
                    (change)="refresh()">
                <label class="px-2">Today</label><input type="checkbox" [(ngModel)]="searchparam.todayonly"
                    (change)="refresh()">
                <label class="px-2">Show done</label><input type="checkbox" [(ngModel)]="searchparam.showdone"
                    (change)="refresh()">
                <label class="px-2">Hide below</label><input width="40" type="number" [(ngModel)]="searchparam.hidebelow"
                    (change)="refresh()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-warning" role="alert" *ngIf="loadError">
                {{errorMessage}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert" *ngIf="isLoading">
                Aadatok betöltése folyamatban
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- <h4>Tags</h4> -->
            <span *ngFor="let tag of tags">
                <button (click)="searchparam.tags!.push(tag);refresh()" class="btnsmall">{{tag}}</button>
            </span>
            <b>Selected</b>
            <span *ngFor="let tag of searchparam.tags">
                <td><button (click)="removeTag(tag)" class="btnsmall">{{tag}}</button></td>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span *ngIf="!items">betöltés</span>
            <div *ngIf="items" class="table-responsive">
                <app-todotable [items]="items"></app-todotable>
            </div>
        </div>
    </div>
</div>