<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12">

            <div class="mb-3">
                <label class="form-label">Task</label>
                <input class="form-control shadow-sm" type="text" [(ngModel)]="item.todotext" />
                <label class="alert-danger w-100 alert" *ngIf="error1">Kötelező mező</label>
            </div>
            <div class="mb-3">
                <label class="form-label">Priority</label>
                <input class="form-control shadow-sm" type="text" [(ngModel)]="item.priority" />
            </div>
            <div class="mb-3">
                <label class="form-label">Length</label>
                <input class="form-control shadow-sm" type="text" [(ngModel)]="item.length" />
            </div>
            <div class="mb-3">
                <label class="form-label">Tags</label>
                <input class="form-control shadow-sm" type="text" [(ngModel)]="item.tags" />
            </div>
            <div class="mb-3">
                <label class="form-label">Comment</label>
                <textarea class="form-control shadow-sm" type="text" [(ngModel)]="item.comment"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Comment block</label>
                <textarea class="form-control shadow-sm" type="text" [(ngModel)]="item.commentblock"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary btn-lg w-50 shadow" (click)="save()">Save</button>
                <button class="btn btn-outline-primary btn-lg w-50 shadow" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>